<div class="main-header">
  <div class="header-wrapper">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" routerlink="" href="/">
          <h2>Klever.ai</h2>
        </a>
      </nav>
    </div>
  </div>
  <div class="hero-wrapper">
    <div class="container">
      <div class="row hero-wrapper-outter">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <h1 class="tagline">
            Healthcare, <br> Reinvented.
          </h1>
          <p class="title-dec">We're using artificial intelligence and machine learning to pioneer significant
            advancements in the future of healthcare.</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        </div>
      </div>
    </div>
  </div>
</div>


<section class="Slider">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item item1 active ">
        <!-- <img src="images/Mask.png" alt="Los Angeles"> -->
        <div class="carousel-caption">
          <h3>Lets Talk Health and AI.</h3>
          <p>Reach us at info@klever.ai </p>
        </div>
      </div>
      <div class="carousel-item item2">
        <!-- <img src="images/Mask.png" alt="Chicago"> -->
        <div class="carousel-caption">
          <h3>Lets Talk Health and AI.</h3>
          <p>Reach us at info@klever.ai </p>
        </div>
      </div>
      <div class="carousel-item item3">
        <!-- <img src="images/Mask.png" alt="New York"> -->
        <div class="carousel-caption">
          <h3>Lets Talk Health and AI.</h3>
          <p>Reach us at info@klever.ai </p>
        </div>
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>  -->
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">

      <p>© 2018. All Rights Reserved. </p>

    </div>
  </div>
</footer>